@font-face {
    font-family: 'Poppins';
    src: url('../../font/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../font/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../font/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../../font/righteous/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('../../font/Manrope.ttf');
}

@font-face {
    font-family: 'Chivo';
    src: url('../../font/Chivo.ttf');
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color:pink;
    color:black;
    overflow:hidden;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    font-synthesis: none !important;
      overscroll-behavior: none;
  overflow : scroll
}

#gwamble-bar {
    background-color: pink;
    padding: 5px;
    color: pink;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    position:sticky;
    top:0;
}

#gwamble-bar h1 {
    font-family: 'Righteous';
    font-size: 40px;
    color: black;
    margin: auto;
    line-height: normal;
    margin-top:7.5px;
}

#reload-icon, #user-icon, #loading-icon {
    color: black;
    float: left;
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: normal;
    margin: 15px;
    transform: scale(0.75);
    font-weight: 900;
    z-index: 2;
}

    .right {
        left: auto!important;
        right: 0;
        float: right!important;
        margin-right: 15px!important;
}

#loading-icon {
    width: 64px;
    margin: 10px;
    filter:blur(0.5px);
}

#gwamble-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: calc(100% - 50px);
    background-color: pink;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    gap: 15px;
    overflow-y: auto;
}


#gwamble-body span {
    font-family: 'Manrope';
    color: pink;
    font-size: 25px;
    margin: 0;
    flex-grow: 0;
    font-weight:900;
}

#gwamble-body i {
    font-size: 30px;
    line-height: 1;
    margin-top: 0;
    margin-left: auto;
    margin-right: 5px;
    vertical-align: middle;
}

#create-gwamble-container, #join-gwamble-container {
    width: 100%;
    background-color: black;
    border-radius: 20px;
    color: pink;
    font-family: 'Poppins';
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    position: relative;
    height: fit-content; /* Allow the height to fit content */
}

#create-gwamble-container.open, #join-gwamble-container.open {
    height: fit-content!important; /* Full height when open */
}


.gwamble-option {
    background-color: black;
    border-radius: 20px;
    width: 100%;
    color: pink;
    font-family: 'Poppins';
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: auto; /* Ensure height is auto for dynamic content adjustment */
    display: flex; /* Flexbox to align contents correctly */
    align-items: center; /* Center align vertically */
    justify-content: space-between; /* Space between elements */
}

.gwamble-option button, .gwamble-button-bottom {
    width: 50%;
    border: none;
    padding: 10px;
    font-family: 'Manrope';
    font-size: 25px;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;
    background-color: pink;
    margin-top: 10px; /* Adds some space between the button and previous elements */
    color:black;
    font-weight:900;
    opacity:100%;
}

.gwamble-option .cancel, .gwamble-button-bottom.cancel {
    background-color: #ffc0cb50;
    color: pink;
    border-radius: 10px 0px 0px 10px;
}


#create-gwamble-options, #join-gwamble-options {
    display: none;
    opacity: 0;
    pointer-events: none;
    align-items: end;
    flex-wrap: wrap;
    height: fit-content;
    background-color:black!important;
}

#create-gwamble-options hr, #join-gwamble-options hr {
    margin-top: 15px;
    border-width: 2px;
    border-radius: 100vmin;
    border-color: pink;
}

#create-gwamble-options input[type="text"], #create-gwamble-options textarea, #join-gwamble-options textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    font-size: 25px;
    font-family: 'Manrope';
    font-weight: 900;
    border-radius: 10px;
    background-color: pink;
    color: black;
    resize: none;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#join-gwamble-options input[type="text"] {
    border: none;
    border-radius: 5px;
    height: 64px;
    font-family: 'Poppins-Bold';
    font-size: 40px;
    margin: 2.5px;
    padding: 2.5px;
    background-color: pink;
    color: black;
}

.text-center {
    margin: auto;
    margin-bottom: 10px;
}

#create-gwamble-options textarea, #join-gwamble-options textarea {
    height: 40vmin;
    flex-grow: 1;
    margin-bottom: 20px;
}

input::placeholder, textarea::placeholder {
    color: #00000050;
    font-weight: 900;
    font-family:'Manrope';
}

#create-gwamble-options .small-title, #join-gwamble-options .small-title {
    font-size: 20px;
    display: block;
    opacity: 50%;
    margin-bottom: 5px; /* Adds space below the titles */
}


.gwamble-option {
    background-color: black;
    border-radius: 20px;
    width: 100%;
    color: pink;
    font-family: 'Poppins';
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
.form-control {
  -webkit-transition: none;
  transition: none;
  width: 32px;
  height: 32px;
  text-align: center
}

.form-control:focus {
  color: #3F4254;
  background-color: #ffffff;
  border-color: #884377;
  outline: 0;
}

.form-control.form-control-solid {
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.form-control.form-control-solid:active,
.form-control.form-control-solid.active,
.form-control.form-control-solid:focus,
.form-control.form-control-solid.focus {
  background-color: #EBEDF3;
  border-color: #EBEDF3;
  color: #3F4254;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.input-hyphen {
    display: inline-block;
    font-size: 40px;
    line-height: 0;
    vertical-align: sub;
    opacity: 50%;
}

#pwa-notice {
    background-color: black;
    position: absolute;
    width: 100%;
    padding: 15px;
    font-family: 'Poppins-Bold';
    font-size: 17.5px;
    color: pink;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    display:none;
}

#pwa-notice .ri-share-2-fill {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

button:disabled {
    opacity: 50%;
}