.bet-left {
    position: absolute;
    left: 0;
    outline: 2px solid pink;
    border-radius: 0px 0px 0px 5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-left: 10px;
}

.gwamble-button-container button {
    font-family: 'Lexend', sans-serif;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.gwamble-bets {
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
    font-weight: 900;
    font-family: 'Lexend';
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

#gwamble-bar {
    max-height: 20px;
    opacity: 0; /* Set initial opacity to 0 */
    animation: slide-in-down 0.6s cubic-bezier(0.68, -0.7, 0.265, 1.7) forwards;
    animation-delay: 0.1s;
}

#posted-gwamble {
    opacity: 0; /* Set initial opacity to 0 */
    animation: bounce-in 0.6s cubic-bezier(0.68, -0.7, 0.265, 1.7) forwards;
    animation-delay: 0.2s; /* Delay to start after the nav bar */
}

.gwamble-bottom {
    opacity: 0; /* Set initial opacity to 0 */
    animation: slide-in-up 0.6s cubic-bezier(0.68, -0.7, 0.265, 1.7) forwards;
    animation-delay: 0.4s; /* Delay to start after the main content */
}

/* Add the animation keyframes */
@keyframes slide-in-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce-in {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide-in-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}