body {
    background-color: pink;
    background-image: none;
}

#posted-gwamble {
    background-color: black;
    color: pink;
    padding: 20px;
    margin: 20px;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#posted-gwamble h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: pink;
    display: block;
    margin-bottom: 20px;
}

.gwamble-post p {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 900;
    font-family: 'Manrope';
    opacity: 50%;
    font-size: 20px;
}

.gwamble-button-container {
    display: flex;
    align-items: stretch;
}

.gwamble-button-container button {
    font-family: 'Poppins-Bold', sans-serif;
    background-color: pink;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.gwamble-bets {
    font-size: 30px;
    color: pink;
    background-color: black;
    border: 5px solid pink;
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
    font-weight: 900;
    font-family: 'Manrope';
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}